@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body, a {
    color:#464457;
}

/*ul img*/
h1 {
    cursor: pointer;
    text-shadow:0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11);
}
ul li {
    width:23%;
}
ul {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
ul img {
    width:85%;
}
ul img:hover {
    transition: all 1s;
    transform:scale(1.03);
}


/*colorPalette*/
h3 {
    line-height: 2;
}
.colorPalette li {
    width:30px;
    height:30px;
    margin:10px;
    border-radius: 5px;
}


@media(max-width:1024px) {
    .colorPalette li {
        width:20px;
        height:20px;
        margin:5px;
    }
}

@media(max-width:768px) {
    ul li {
        width:45%;
        margin-bottom:80px;
    }
}

@media(max-width:500px) {
    ul li {
        width:98%;
        margin-bottom:150px;
    }
    h3 {
        line-height: 3;
    }
    .colorPalette li {
        width:30px;
        height:30px;
        
    }
}
