@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

h1 {
    padding:55px 0;
}
h1 a {
    font-size: 50px;
    text-shadow:0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11);
}
canvas {
    width:500px;
    height:500px;
    background: #fff;
    border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11);
}

/*btn*/
.btn button {
	cursor: pointer;
	background: #fff;
	padding: 10px 0px;
	width: 80px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11);
	border: 2px solid rgba(0, 0, 0, 0.2);
    margin:30px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size:15px;
}

/*range*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 150px;
      -webkit-appearance: none;
      background-color: #fff;
      border-radius: 3px;;
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 17px;
        -webkit-appearance: none;
        color: #fff;
        margin-top: -1px;
      }
      
      input[type='range']::-webkit-slider-thumb {
        width: 15px;
        -webkit-appearance: none;
        height: 17px;
        cursor: pointer;
        background: #f1f1f1;
        box-shadow: -80px 0 0 80px #d2d2d2;
      }
    }

/*colorPalette*/
.colorPalette {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.colorPalette li {
    width:40px;
    height:40px;
    margin:10px;
    border-radius: 5px;
    cursor: pointer;
}